:root {
  --bg: #0b1b3a;        /* deep navy */
  --card: #102a57;      /* slightly lighter navy */
  --text: #ffffff;
  --muted: #b8c2d9;
  --accent: #ff9933;    /* saffron */
  --accent-hover: #e8891f;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background:#bbb;
    border-radius:10px;
}
