.navbar {
  height: 64px;
  background: #1677ff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar h2 {
  color: white;
  margin: 0;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hamburger-btn {
  display: none;
  color: white !important;
}
.languageSelect .ant-select-selector{
    height:30px !important;
    padding:0 8px !important;
    height: 25px;
    border-radius:6px !important;
}

.languageSelect .ant-select-selection-item{
    font-size:12px;
    display:flex;
    align-items:center;
}

.langOption{
    display:flex;
    align-items:center;
    gap:5px;

    font-size:12px;
    line-height:2;
}

.langOption img{
    width:14px;
    height:10px;
    object-fit:cover;
}

@media (max-width: 768px) {
  .hamburger-btn {
    display: inline-flex;
  }
  .languageSelect{
      width:100px !important;
      height: 15px;
    }

    .languageSelect .ant-select-selection-item{
        font-size:11px;
    }

    .langOption{
        font-size:11px;
    }
}